/*    filter styles   */

.filter-bar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(211, 208, 208)   ;
    margin: 10px 20px;
    border: 0;
    border-radius: 15px;
    transition: 1s;
}
.filter-bar div{
    display: flex;
    width: 90%;
    padding: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.filter-bar div select{
    width: 250px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    color: black    ;
}
.filter-bar button{
    align-self: flex-start;
    margin:10px 30px;
    height: 30px;
    width: 120px;
    border-radius: 9px;
    border: 1px solid black;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
}
.filter-bar button a{
    color: black;
    font-weight: bold;
}
/* end filter styles */