.app{
  background-color: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.layout{
  padding: 0 5%;
}
.layout-content{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 766px) {
  .layout{
    padding: 0;
  }
}